#!/bin/bash

printf "

                          _____ _____ _____
                          |   | |     |     |
                          | | | |  |  |   --|
                          |_|___|_____|_____|.{{ level }}.{{ tld }}

                          Network Orchestration Controller                     {{ level }}


{#
  Not ALL VMs in an environment has a publicly available IP address.

  Make sure you have the following in your SSH client config (`~/.ssh/config`):

    ## Use noc.{{ level }}.{{ tld }} as a Jump box
    ## Ref: https://wikitech.wikimedia.org/wiki/Help:Access#Using_ProxyCommand_ssh_option
    Host {{ level }}.jumper
      Hostname noc.{{ level }}.{{ tld }}
      ProxyCommand none
    Host *.{{ level }}.jumper
      ProxyCommand ssh -e @ -o StrictHostKeyChecking=no -a -W %h:%p {{ level }}.jumper

  To connect to one of them, you have to have your SSH client to use the noc
  as a proxy ("Jump box");

    ssh app1.{{ level }}.jumper
#}


"
