#cloud-config

## Change the name here
hostname: web5

##########################################################
## No need to do anything else
locale: en_US.UTF-8
timezone: America/New_York
package_upgrade: true
package_update: true
package_reboot_if_required: true

runcmd:
  - [ add-apt-repository, -y, 'ppa:saltstack/salt2015-5' ]
  - [ apt-get, update ]
  - [ apt-get, -y, upgrade ]
  - [ apt-get, -y, autoremove ]
  - [ apt-get, -y, --force-yes, upgrade, salt-minion ]
  - [ apt-get, -y, --force-yes, dist-upgrade ]

write_files:
  - path: /etc/salt/minion.d/master.conf
    content: |
        master: {{ salt_master_ip }}
  - path: /etc/salt/grains
    content: |
        level: {{ level }}
  - path: /etc/salt/minion.d/master.conf
    content: |
        master: noc

packages:
  - python-software-properties
  - software-properties-common
  - language-pack-en
  - salt-minion
  - salt-common
