<?php

return array(
  'constants' => array(
    'DB_CHARSET'  => 'utf8',
    'DB_COLLATE'  => '',
    'DB_HOST'     => '{{ database_endpoint }}',
    'DB_NAME'     => '{{ database_credentials.database }}',
    'DB_USER'     => '{{ database_credentials.username }}',
    'DB_PASSWORD' => '{{ database_credentials.password }}',

    'SCRIPT_DEBUG'     => FALSE,
    'WP_DEBUG'         => FALSE,
    'WP_DEBUG_LOG'     => FALSE,
    'WP_DEBUG_DISPLAY' => FALSE,

    // This can easily make a server overloaded with memory
    'DISABLE_WP_CRON' => TRUE,

    // We shouldn't allow users to edit plugins, ever!
    'DISALLOW_FILE_EDIT' => TRUE,

    // We do not want our site to make requests elsewhere.
    'WP_HTTP_BLOCK_EXTERNAL' => TRUE,
    'AUTOMATIC_UPDATER_DISABLED' => TRUE,

    // Prevent WordPress to do redirects, lets have the Web Server make them
    'FORCE_SSL_ADMIN' => FALSE,
    'FORCE_SSL_LOGIN' => FALSE,

    'WP_HOME'        => '{{ proto }}://' . $_SERVER['HTTP_HOST'],
{%- if wordpress_context_root %}
    'WP_SITEURL'     => '{{ proto }}://' . $_SERVER['HTTP_HOST'] . '{{ wordpress_context_root }}',
{%- endif %}
    'WP_CONTENT_URL' => 'http://' . $_SERVER['HTTP_HOST'] . '/wp-content',

    'AUTOMATIC_UPDATER_DISABLED' => TRUE,
    'WP_TEMP_DIR' => '{{ webapp_tmp_path }}',

    'AUTH_KEY'          => '{{ salts.get('AUTH_KEY', '') }}',
    'SECURE_AUTH_KEY'   => '{{ salts.get('SECURE_AUTH_KEY', '') }}',
    'LOGGED_IN_KEY'     => '{{ salts.get('LOGGED_IN_KEY', '') }}',
    'NONCE_KEY'         => '{{ salts.get('NONCE_KEY', '') }}',
    'AUTH_SALT'         => '{{ salts.get('AUTH_SALT', '') }}',
    'SECURE_AUTH_SALT'  => '{{ salts.get('SECURE_AUTH_SALT', '') }}',
    'LOGGED_IN_SALT'    => '{{ salts.get('LOGGED_IN_SALT', '') }}',
    'NONCE_SALT'        => '{{ salts.get('NONCE_SALT', '') }}',
  ),

  'globals' => array(
    'table_prefix' => 'wp_'
  )
);
