## Managed by Salt Stack.

{#
 # - https://httpd.apache.org/docs/2.4/mod/mod_log_config.html
 # - https://httpd.apache.org/docs/2.4/mod/mod_headers.html
 # - https://httpd.apache.org/docs/2.4/env.html
 # - https://httpd.apache.org/docs/2.4/mod/mod_setenvif.html
 # - https://httpd.apache.org/docs/2.4/mod/mod_logio.html
 # - https://httpd.apache.org/docs/2.4/expr.html
 # - https://httpd.apache.org/docs/2.4/handler.html
 #}

AddDefaultCharset UTF-8
ServerTokens Prod
ServerSignature Off
TraceEnable Off

ServerName {{ nodeName }}.{{ level }}.{{ tld }}
ServerAdmin {{ contact_email }}

Header set X-Origin-Timing "%D, %l"
Header set X-Origin-Node "{{ nodeName }}.{{ level }}.{{ tld }}"

## Set Headers only if equivalent environments exists
Header set X-Origin-Level "%{LEVEL}e" env=LEVEL
Header set X-Origin-Unique "%{UNIQUE_ID}e" env=UNIQUE_ID

## Some .htaccess says it is OK to vary on User-Agent. It is NOT!
SetEnv dont-vary "User-Agent"

{#
 # The following replicates a LogStash log entry
 # The next lines should become a valid Apache
 # configuration line as a one line.
 #
 # Confusion here is because we want it all a one line
 # but the code to be in multiple line here.
 # To do this, we use Jinja comment block.
 # Other part of the confusion is that Apache block
 # uses similar syntax as Jinja, so we had to surround
 # block with curlybrace+percent inside a raw block.
 #
 # A log entry should look like the following
 #
 # ```
 # {"@timestamp": "2016-08-13T01:41:51+0000",
 #  "@version": 1,
 #  "tags": ["apache"],
 #  "message": "172.28.128.1 - - [13/Aug/2016:01:41:51 +0000] \"GET /img.png HTTP/1.1\" 200 1065",
 #  "service_level": "vagrant",
 #  "service_slug": "foo",
 #  "service_node": "web.vagrant.alias.services",
 #  "name": "web.vagrant.alias.services",
 #  "port": "80",
 #  "remote_hostname": "172.28.128.1",
 #  "client": "172.28.128.1",
 #  "time_microseconds": 4531,
 #  "epoch_microseconds": 1471052511186990,
 #  "request": "/img.png",
 #  "request_id": "V656338AAQEAAGPU04UAAAAG",
 #  "request_raw": "GET /img.png HTTP/1.1",
 #  "request_url": "/img.png",
 #  "request_query": "",
 #  "request_protocol": "HTTP/1.1",
 #  "request_method": "GET",
 #  "status": 200,
 #  "received_bytes": 625,
 #  "sent_bytes": 1494,
 #  "referrer": "-",
 #  "ua": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10.11; rv:50.0) Gecko/20100101 Firefox/50.0",
 #  "keepalive_handled": 11}
 # ```
 # To check if generated log is valid, check against
 # http://jsonvalidatortool.com/
 #}
LogFormat "{{ '{' }}{#-
            #}\"@timestamp\": \"{% raw %}%{%Y-%m-%dT%H:%M:%S%z}t{% endraw %}\", {#
            #}\"@version\": 1, {#
            #}\"tags\": [\"apache\"], {#
            #}\"message\": \"%h %l %u %t \\\"%r\\\" %>s %b\", {#
            #}\"service_level\": \"%{LEVEL}e\", {#
            #}\"service_slug\": \"%{PROJECT_SLUG}e\", {#
            #}\"service_node\": \"{{ nodeName }}.{{ level }}.{{ tld }}\", {#
            #}\"name\": \"%v\", {#
            #}\"port\": %p, {#
            #}\"remote_hostname\": \"%h\", {#
            #}\"client_ip\": \"%a\", {#
            #}\"client_ip_peer\": \"%{c}a\", {#
            #}\"time_microseconds\": %D, {#
            #}\"epoch_microseconds\": %{usec}t, {#
            #}\"request\": \"%U%q\", {#
            #}\"request_id\": \"%{UNIQUE_ID}e\", {#
            #}\"request_raw\": \"%r\", {#
            #}\"url\": \"%U\", {#
            #}\"query\": \"%q\", {#
            #}\"handler\": \"%R\", {#
            #}\"protocol\": \"%H\", {#
            #}\"method\": \"%m\", {#
            #}\"accept-encoding\": \"%{Accept-Encoding}i\", {#
            #}\"host\": \"%{Host}i\", {#
            #}\"accept\": \"%{Accept}i\", {#
            #}\"status\": %>s, {#
            #}\"received_bytes\": %I, {#
            #}\"sent_bytes\": %O, {#
            #}\"transferred_bytes\": %S, {#
            #}\"referer\": \"%{Referer}i\", {#
            #}\"ua\": \"%{User-Agent}i\", {#
            #}\"keepalive_handled\": %k{{ '}' }}" apache_json

LogFormat "%{Host}i%U%q: id=%{UNIQUE_ID}e, R=%R, I=%I, O=%O, S=%S, D=%D, t=%{usec}t, b=%b, i=%i, FB=%^FB" timing

GlobalLog ${APACHE_LOG_DIR}/json.log apache_json
GlobalLog ${APACHE_LOG_DIR}/timing.log timing "expr=%{REQUEST_FILENAME} =~ /\.php/"

## Alternate method is to strip of User-Agent. But .htaccess does it beforehand
#Header edit Vary (.*)User-Agent(.*) $1$2
## Remove leading or trailing ',' without making things complex above
#Header edit Vary ^,?(.*),?$ $1
## 2.4-only: remove empty Vary header
#Header unset Vary "expr=resp('Vary') =~ /^$/"

# vim: expandtab autoindent tabstop=2 shiftwidth=2 shelltype=apache filetype=apache
