{%- set json_data = test.get('body')|load_json -%}

# Managed by Salt Stack.

## Make your web browser add a "Fastly-Debug" request header using an extension
SetEnvIf Fastly-Debug ^.+ let_me_in

<Directory "/">
    Order Deny,Allow
    Deny from All

    ## This will need more work
    ## Ref: https://httpd.apache.org/docs/2.4/howto/access.html
    ##
    ## As per Apache 2.4 documentation:
    ## > The Allow, Deny, and Order directives,
    ## > provided by mod_access_compat, are deprecated and
    ## > will go away in a future version. You should avoid
    ## > using them, and avoid outdated tutorials recommending
    ## > their use.
    ## Which means we'll have to rework how we allow/deny hosts.
    ##
    ## What we want, Deny except for:
    ## - Fastly servers to proxy for us
    ## - If we make our browser provide a specific header
    ## - List of IP addresses using DNS
    ## - Allow ones with valid TLS Client certificate
    ##
    ## The following won't work as-is
    #Allow from team.whitelist.alias.services

    ## Allow if we have "Fastly-Debug" header present. See above.
    Allow from env=let_me_in

    ## Only allow Fastly servers
{%- if json_data.addresses is defined %}
{%-   for range in json_data.addresses %}
    Allow from {{ range }}
{%-   endfor %}
{%- endif %}
</Directory>

# vim: expandtab autoindent tabstop=2 shiftwidth=2 shelltype=apache filetype=apache
