## Managed by Salt Stack.

## Added via projects' pillar, under server_aliases key
## We got {{ server_aliases|json }}
{%- if server_aliases|count >= 1 %}
ServerAlias {{ server_aliases|join(' ') }}
{%- endif %}

SetEnv PROJECT_SLUG "{{ slug }}"
SetEnv LEVEL "{{ level }}"
#SetEnv APP_ENV "{{ level }}"

{%- if wordpress.context_root|default() %}
Header set X-Origin-Wordpress-Root "{{ wordpress.context_root }}"
{%- endif %}

## No trailing slash
DocumentRoot {{ public_docroot }}
<Directory "{{ public_docroot }}">
  AllowOverride All Nonfatal=All
  #AllowOverride None ## I Wish!
  Options FollowSymLinks
  Require all granted
</Directory>

## Possible values:
## debug, info, notice, warn, error, crit, alert, emerg
LogLevel warn

{% if wordpress|default() -%}
Include /etc/apache2/wordpress.conf
{%- endif %}
IncludeOptional /srv/www/{{ slug }}/current/apache2.con[f]

# vim: expandtab autoindent tabstop=2 shiftwidth=2 shelltype=apache filetype=apache
