## Managed by Salt Stack.

##
## SSL/TLS Configuration for {{ slug }}
##

SSLEngine               on
SSLCertificateFile      {{ apache_tls_certs_path }}/{{ slug }}.pem
## Need to fix basicConstraint pathlen:0 in self-signed TLS certificates first #TODO
#SSLCertificateChainFile {{ apache_tls_certs_path }}/ca-chain.pem

{#-
 # Notes for later: review TLS certificate rules and cipher list #TODO
 # - https://www.ssllabs.com/
 # - https://www.certificate-transparency.org/
 # - https://cipherli.st/
 # - http://cspisawesome.com/
 # - http://content-security-policy.com/
 # - http://www.html5rocks.com/en/tutorials/security/content-security-policy/
 # - https://developer.mozilla.org/en-US/docs/Web/Security/CSP/Introducing_Content_Security_Policy
 # - https://www.owasp.org/index.php/Content_Security_Policy
 # - https://www.w3.org/TR/upgrade-insecure-requests/
 # - http://arstechnica.com/security/2009/12/how-to-get-set-with-a-secure-sertificate-for-free/
 #}

# vim: expandtab autoindent tabstop=2 shiftwidth=2 shelltype=apache filetype=apache
