## Managed by Salt Stack.

##
## WordPress Admin VirtualHost file for {{ slug }}
##

## Make sure /etc/resolv.conf has nameserver matching NOC's {{ noc_internal_ipv4 }} private IPv4

<VirtualHost *:443>
  ServerName  {{ obj.admin_virtualhost }}.{{ obj.server_name }}
  ServerAlias {{ obj.admin_virtualhost }}.{{ slug }}.{{ level }}.{{ tld }}

  Include     /etc/apache2/projects.d/{{ slug }}.conf
  Include     /etc/apache2/projects.d/{{ slug }}.tls.conf

  ## See https://httpd.apache.org/docs/2.4/howto/auth.html
  ##     http://httpd.apache.org/docs/2.4/mod/mod_authz_core.html#require
  <Location "/">
    HostnameLookups Double
    <RequireAny>
      Require forward-dns whitelist.{{ level }}.{{ tld }}
      ## The line below should be changed once BET-58 is done
      Require forward-dns whitelist.prod.azure.alias.services
    </RequireAny>
  </Location>

  ErrorLog ${APACHE_LOG_DIR}/{{ slug }}_admin_error_tls.log
  CustomLog ${APACHE_LOG_DIR}/{{ slug }}_admin_access_tls.log combined

</VirtualHost>
