## Managed by Salt Stack.

##
## VirtualHost file for {{ slug }}
##

## This is not flexible and needs more work
## The temporary_fork_redirect_www is just a temporary
## work around so that TechBetter.com redirects to www
## BET-67 #TODO #WIP


## Review this system to make more flexible #TODO
{%- if apache.temporary_fork_redirect_www|default() %}
## Hacky temporary_fork_redirect_www was set
<VirtualHost *:80>
  ServerName    {{ server_name }}
  RewriteEngine On
  RewriteRule   ^/?(.*) http://www.{{ server_name }}/$1 [R=301,L]
</VirtualHost>


<VirtualHost *:80>
  ServerName    www.{{ server_name }}
{%- else %}
## Hacky temporary_fork_redirect_www was NOT set
<VirtualHost *:80>
  ServerName    {{ server_name }}
  ServerAlias   www.{{ server_name }}
{%- endif %}

  Include       /etc/apache2/projects.d/{{ slug }}.conf
  ErrorLog      ${APACHE_LOG_DIR}/{{ slug }}_error.log
  CustomLog     ${APACHE_LOG_DIR}/{{ slug }}_access.log combined

  ## We will not do it here, because we have Proxies
  ## Problem with this block here is that if Fastly is proxying us,
  ## services clients over TLS, but polls to this web server NOT over TLS.
  ## That's why we get redirect loops.
  #RewriteEngine On
  #RewriteCond   %{HTTP:Upgrade-Insecure-Requests} ^.+
  #RewriteRule   ^/?(.*) https://%{SERVER_NAME}/$1 [R,L]

  ## This should be included only if we want it. #TODO
  ## Loads the file only if it exists.
  IncludeOptional /etc/apache2/fastly.con[f]
</VirtualHost>
{%-  if tls != 'None' %}


## Review this system to make more flexible #TODO
{%-    if apache.temporary_fork_redirect_www|default() %}
## Hacky temporary_fork_redirect_www was set
<VirtualHost *:443>
  ServerName    {{ server_name }}
  RewriteEngine On
  RewriteRule   ^/?(.*) https://www.{{ server_name }}/$1 [R=301,L]
</VirtualHost>


<VirtualHost *:443>
  ServerName  www.{{ server_name }}
{%-   else %}
## Hacky temporary_fork_redirect_www was NOT set
<VirtualHost *:443>
  ServerName  {{ server_name }}
  ServerAlias  www.{{ server_name }}
{%-   endif %}

  Include     /etc/apache2/projects.d/{{ slug }}.conf
  Include     /etc/apache2/projects.d/{{ slug }}.tls.conf

  ErrorLog    ${APACHE_LOG_DIR}/{{ slug }}_error_tls.log
  CustomLog   ${APACHE_LOG_DIR}/{{ slug }}_access_tls.log combined

  ## This should be included only if we want it. #TODO
  ## Loads the file only if it exists.
  IncludeOptional /etc/apache2/fastly.con[f]
</VirtualHost>
{%- endif %}


# vim: expandtab autoindent tabstop=2 shiftwidth=2 shelltype=apache filetype=apache
