; vim: autoindent expandtab tabstop=4 softtabstop=4 shiftwidth=4 syntax=bindzone

; Managed by Salt Stack.

{#-
 # DNS Zonefile, reusing from https://github.com/webplatform/salt-states/blob/master/gdnsd/
 #}

; Zone {{ level }}.{{ tld }}.

$TTL 3600
@   SOA {{ noc_name }}.{{ level }}.{{ tld }}. {{ contact_email_zone_format }}. (
      {{ timestamp }} ; serial
      7200         ; refresh
      30M          ; retry
      3D           ; expire
      900          ; ncache
)


; DNS "glue" record to state that this NOC is it's own Name server
;
; See {{ source }} for more details
;
; IMPORTANT: Make sure you also have the following
;            entries at the DNS provider:
{{ level }}.{{ tld }}.                 IN NS   {{ noc_name }}.{{ level }}.{{ tld }}. ; Glue record
{{ noc_name }}.{{ level }}.{{ tld }}.             IN A    {{ noc_public_ip }}                ; NOC public IPv4 addr


; This will eventually loop through all web nodes, and add each installed projects #TODO
{%- set other_entries_names = other_entries|map(attribute='name')|join(', ') %}
{#
 # if admin.foo exists with foo, will not be displayed bug! #TODO
 #
 # Temporary Fix, or use another DNS TLD for admin VirtualHost than `*.example.org`.
 #
 # ```
 # gdnsd:
 #   entries:
 #     - name: web
 #       type: A
 #       value: 52.52.18.242
 #     - name: energyfactor
 #       type: CNAME
 #       value: web.staging.example.org.
 #     - name: admin.energyfactor
 #       type: CNAME
 #       value: web.staging.example.org.
 # ```
 #}
{%- for project_name in projects_list %}
{%-   if project_name not in other_entries_names %}
{{      project_name }}           300   IN   A    {{ http_origin }}
{%-   endif %}
{%- endfor %}


; This is coming from "gdnsd:entries" pillar
{%- for entry in other_entries %}
{{    entry.name }}           300   IN   {{ entry.type }}    {{ entry.value }}
{%- else %}
; (List was apparently empty)
{%- endfor %}


; Those are all private IP addresses
; We want a list of nodes without numbering so we can use DNS to know cluster membership
{%- for row in all_internal_ip_addrs %}
{%-   if row.role and row.private_ip %}
{{      row.role }}.private           20   IN   A    {{ row.private_ip }}
{%-   endif %}
{%- endfor %}


; This is coming from "gdnsd:whitelist" pillar
{%- if whitelist_entries|count > 0 %}
{%-   for entry,name_comment in whitelist_entries.items() %}
whitelist           20   IN   A   {{ entry }} ; {{ name_comment }}
{%-   endfor %}
{%- else %}
; (List was apparently empty)
{%- endif %}
